@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="./_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-3">
        <partial name="./_ManageNav" />
    </div>
    <div class="col-md-9 col-xl-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.Username" class="form-label"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
